{{ $current_page := . }}

<div class="container-fluid specs">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 specs-sidebar">
      {{ partial "specs_sidebar" . }}
    </div>

    <div class="d-none d-xl-block col-xl-2 specs-toc">
      {{ if .Params.toc }}
      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="specs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "specs_toc_foot" . }}
      {{ end }}

      {{ partial "specs_related.html" . }}

    </div>

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 specs-content" role="main">

      <article class="article">

        <div class="specs-article-container">
          <h1>{{ .Title }}</h1>

          {{ partial "specs_metadata" (dict "page" $current_page "is_list" 0 "share" true) }}

          {{ partial "specs_history" . }}

          {{ partial "specs_deprecation" . }}

          <div class="article-style">
            {{ .Content }}
          </div>

          {{ if .Params.links }}
          <h2>Additional Resources</h2>
          {{ partial "specs_links.html" . }}
          {{ end }}

          
          {{ if .Params.specs.reviewIndex }}
          <h2>Currently Under Review</h2>
          The following table contains pages currently under review.
          {{ partial "specs_review_index.html" . }}
          {{ end }}

          {{ if .Params.specs.history }}
          <h2>Latest Changes</h2>
          The following table contains lately changed pages, sorted descending by last change.
          {{ partial "specs_change_history_index.html" . }}
          {{ end }}

          {{ if .Params.specs.toc }}
          <h2>Table of Content</h2>
          {{ partial "specs_overall_toc.html" . }}
          {{ end }}

          {{ partial "tags.html" . }}

          <div class="article-widget">
            {{ partial "specs_section_pager" . }}
          </div>
        </div>

        <div class="body-footer">
          <p>{{ i18n "last_updated" }} {{ $.Lastmod.Format site.Params.locale.date_format }}</p>

          {{ partial "page_edit" . }}

          {{ partial "comments" . }}
        </div>

      </article>

      {{ partial "site_footer" . }}

    </main>
  </div>
</div>
