{{ $current_page := . }}
{{ $spec := default "VEC" .Params.Specification }}
{{ $default_version := (index .Site.Params (lower $spec)).current_version }}
{{ $current_version := .Params.Version | default $default_version }}
{{/* $related := where (.Site.RegularPages.RelatedIndices . "classes" ) "Params.categories" "intersect" (slice "Implementation Guidelines") */}}
{{ $related := where (.Site.RegularPages.RelatedIndices . "classes") "Params.specification" $spec}}
{{ $related_guidelines := where ($related) "Params.documenttype" "Guideline"}}
{{ $related_recommendation := where (where ($related) "Params.documenttype" "Recommendation") "Params.version" $current_version}}
{{/* $related := .Site.RegularPages.Related . | first 5 */}}

<h3>See Also</h3>
{{ with $related_guidelines | first 10 }}
<div>
  <h4>Related Implementation Guidelines</h4>
  <ul class="list-unstyled">
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
{{ with where $related_recommendation "Params.elementtype" "in" (slice "Package" "Diagram") | first 10 }}
<div>
  <h4>Related Recommendation Chapters</h4>
  <ul class="list-unstyled">
    {{ range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
{{ with where $related_recommendation "Params.elementtype" "Class" }}
<div>
  <h4>Related Classes</h4>
  <ul class="list-unstyled">
    {{ range sort . "Title"}}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}