<script>

function unveilAndPrint(win) {
    var loadTriggered = 0;
    var loaded = 0;
    win.document.querySelectorAll('img.lazyload').forEach(function(v, k, array) {
      v.addEventListener('lazyloaded', function() {
        loaded++;
        if(loadTriggered === loaded){
          win.print();
          win.close();
        }
      });
      lazySizes.loader.unveil(v);
      loadTriggered++;      
    });
}

function printInNewWindow(url) {
    var myWindow=window.open(url);

    myWindow.addEventListener('load', function () {
        unveilAndPrint(myWindow);
    },true)
}

$(window).on('load', function(){
  let printButtons = document.querySelectorAll('.single-page-print-button');
  
  printButtons.forEach((button) =>
  button.addEventListener('click', (e) => {
    e.preventDefault();
    
    printInNewWindow(e.target.href);

  }));
  
});

</script>