@import "ecadwiki/_specs";

.article-style figure {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.article-style figcaption {
    margin-bottom: 0;
}

.article-container {
    max-width: 1000px;
}
