@import "ecadwiki/_specs";

#TableOfContents ul ul {
    display: block;
    position: relative;
    left: 20px;
}

.article-style figure {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.article-style figcaption {
    margin-bottom: 0;
}
